dash
pandas
plotly
openpyxl
requests
numpy
gunicorn
plotly.express
dash_bootstrap_components
yfinance
datetime
pypfopt
pypfopt.efficient_frontier
dash_bootstrap_components
pyfolio
warnings
scipy.stats
matplotlib.pyplot
math
